/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Courgette&family=Sonsie+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bmw.jpg);
}
.container {
  position: relative;
  max-width: 370px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  background-color: #f4f5f8;
}
.container header {
  font-size: 30px;
  font-weight: 600;
  color: #ff9900;
  font-family: 'Courgette', cursive;
}
.container form {
  margin-top: 30px;
}
form .field {
  margin-bottom: 20px;
}
form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}
.invalid input {
  border-color: #d93025;
}
.input-field .show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}
.button {
  margin: 25px 0 6px;
}
.button input {
  display: inline-block;
	font-size: 15px;
	padding: 12px 24px;
	color: #f4f5f8;
	font-weight: 700;
	background: #FF9900;
	border-radius: 2px;
}
.button input:hover {
	color: #f4f5f8;
	background-image: linear-gradient(
	  145deg,
	  transparent 10%,
	  #f5ae44 10% 20%,
	  transparent 20% 30%,
	  #f5ae44 30% 40%,
	  transparent 40% 50%,
	  #f5ae44 50% 60%,
	  transparent 60% 70%,
	  #f5ae44 70% 80%,
	  transparent 80% 90%,
	  #f5ae44 90% 100%
	);
	animation: background 3s linear infinite;
}
@keyframes background {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: 400px 0;
	}
  }
.rbtn{
  color: #333;
}
.rbtn a{
  text-decoration: none;
  color: #FF9900;
  font-weight: bold;
}
/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}